body {
  font-family: Geizer, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #B0926A;
  /* background-image: url("../img/brickwallVAR2.png"); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: Geizer;
  src: url(/fonts/Geizer.otf);
}

/* Anti-text decoration */
body a:visited {
  color: #706233;
  -webkit-text-stroke: rgba(0, 0, 0, 0.559) 5px;
}

a:link {
  text-decoration: none;
}

/* Text */
h1{
  color: #706233;
  font-size: 40px;
  -webkit-text-stroke: rgba(0, 0, 0, 0.559) 1px;
}

h2 {
  color: #706233;
  -webkit-text-stroke: rgba(0, 0, 0, 0.559) 1px;
}

p {
  color: #706233;
  font-size: 40px;
  -webkit-text-stroke: rgba(0, 0, 0, 0.559) 1px;
}


/* "Return" Link */
.custom-text a {
  text-decoration: none;
  font-family: Geizer;
  color: #706233;
  -webkit-text-stroke: rgba(0, 0, 0, 0.559) 1px;
  display: block;
  text-align: center; /* Center the text horizontally */
}

          .custom-text:visited {
            text-align: center;
            position: absolute;
            bottom: 20px;
            left: 50%;
            font-family: Geizer;
            font-size: 20px;
            color: #706233;
          }

          .custom-text a:visited {
            color: #706233;
          }

          .blinking-text {
            animation: blink 2s infinite;
          }

          @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
          }

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



