body {
  font-family: VCR_OSD_MONO_1, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #2c2c2a;
  /* background-image: url("../img/brickwallVAR2.png"); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

@font-face {
  font-family: VCR_OSD_MONO_1;
  src: url(/fonts/VCR_OSD_MONO_1.ttf);
}

/* Anti-text decoration */
body a:visited {
  color: #fff3f3;
}

a:link {
  text-decoration: none;
}

/* Text */
h1{
  color: #fff3f3;
  font-size: 50px;
  -webkit-text-stroke: #a07cff 0.2px;
}

h2 {
  color: #fff3f3;
  -webkit-text-stroke: #a07cff 0.5px;
}

p {
  color: #fff3f3;
  font-size: 30px;
  -webkit-text-stroke: #a07cff 0.5px;
}

h3 {
  color: #fff3f3;
  font-size: 50px;
  -webkit-text-stroke: #a07cff 0.5px;
}

h4 {
  color: #fff3f3;
  font-size: 40px;
  -webkit-text-stroke: #a07cff 0.2px;
}

h5 {
  color: #fff3f3;
  font-size: 25px;
}

h6 {
  color: #fff3f3;
  font-size: 20px;
  -webkit-text-stroke: #a07cff 0.5px;
}

h7 { 
  color: #fff3f3;
  font-size: 30px;
  -webkit-text-stroke: #a07cff 0.5px;
  text-decoration: none;
  margin-top: 30px;
  overflow: hidden;
}


/* "Return" Link */
.custom-text a {
  text-decoration: none;
  font-family: VCR_OSD_MONO_1;
  color: #fff3f3;
  -webkit-text-stroke: #a07cff 0.5px;
  display: block;
  text-align: center; /* Center the text horizontally */
  padding-bottom: -30px;
  overflow: hidden;
}

          .custom-text:visited {
            text-align: center;
            position: absolute;
            bottom: 20px;
            left: 50%;
            font-family: VCR_OSD_MONO_1;
            font-size: 20px;
            color: #fff3f3;
          }

          .custom-text a:visited {
            color: #fff3f3;
          }

          .blinking-text {
            animation: blink 2s infinite;
          }

          @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
          }




