
body {
  background-color: #2c2c2a;
  display: table;
}

.div1 {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
}

.div2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: VCR_OSD_MONO_1;
  font-size: 25px;
  color: #fff3f3;
    -webkit-text-stroke: #a07cff 0.5px;
}

.box {
  text-align: center;
  font-size: 20px;
  font-family: VCR_OSD_MONO_1;
  outline: none;
  width: 250px;
  height: 35px;
  border: none;
  border-bottom: 2px solid #fff3f3;
  margin: 20px;
}

.confirm {
  border: none;
  font-size: 30px;
  font-family: VCR_OSD_MONO_1;
  margin-top: 10px;
  color: #fff3f3;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-text-stroke: #a07cff 0.5px;
}