.column {
    width: calc(100% / 3); /* Set width to one-third of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px; /* Add padding to create space between columns */
    float: left; /* Float columns next to each other */
    text-align: center; /* Center project name and image */
}

.row {
    clear: both; /* Clear floating elements */
}

.column img {
    width: 250px; /* Ensure images fill their parent container */
    height: auto; /* Maintain aspect ratio */
    border: 5px solid #a07cff; /* Add a basic border */
}

.column img:hover {
    opacity: 0.5; /* Reduce image opacity on hover */
    border: 5px solid #fff3f3;
}

label {
    font-size: 30px;
    color: #fff3f3;
    -webkit-text-stroke: #a07cff 0.5px;
}

input {
    margin-right: 15px;
    margin-left: -5px;
}