
  article {
	margin: 0 10px;
}

/* The awesome
------------------ */

/* Shelf (Works best in Webkit) */
.shelf {
	position: relative;
	width: 1200px;
	border-bottom: 13px solid #24252a;
	text-align: center;
	padding: 0 27px;
  margin: 20px auto;
  background: transparent;
}

.shelf:after {
	position: absolute;
	bottom: -13px;
	left: 34px;
	height: 10px;
	background: transparent;
	content: "";
	-webkit-transform: perspective( 150 ) rotateX( -25deg );
	   -moz-transform: perspective( 150 ) rotateX( -25deg );
	    -ms-transform: perspective( 150 ) rotateX( -25deg );
	        transform: perspective( 150 ) rotateX( -25deg );
	right: 34px;
	box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
	z-index: -1;
}

	.shelf > div {
		border-bottom: 23px solid #303138;
		position: relative;
		z-index: 1;
	}
	
	.shelf > div:before {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 0 23px 27px;
	  border-color: transparent transparent #303138 transparent;
	  position: absolute;
	  bottom: -23px;
	  left: -27px;
	  z-index: 2;
	  -webkit-transform:rotate(360deg);
	  -moz-transform:rotate(360deg);
	  transform:rotate(360deg);
	}
	
	.shelf > div:after {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 23px 0 0 27px;
	  border-color: transparent transparent transparent #303138;
	  position: absolute;
	  bottom: -23px;
	  right: -27px;
	  z-index: 2;
	}
	
		.shelf > div > * {
			position: relative;
			z-index: 2;
			top: 18px;
		}


/* Default case template (Bluray) */

.case {
	display: inline-block;
	width: 142px;
	height: 179px;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}

.case:after {
	width: 100%;
	height: 10px;
	border-radius: 20px;
	content: "";
	position: absolute;
	bottom: -5px;
	-webkit-transform: perspective(600) rotateX(100deg);
	   -moz-transform: perspective(600) rotateX(100deg);
	    -ms-transform: perspective(600) rotateX(100deg);
	     -o-transform: perspective(600) rotateX(100deg);
	        transform: perspective(600) rotateX(100deg);
	left: 0;
}

	.case > div {
		width: 100%;
		height: 100%;
		border-radius: 8px 8px 5px 5px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 14px 3px 3px 0;
		overflow: hidden;
		position: relative;
	}
	
	
		.case > div > .logo {
			position: absolute;
			top: 5px;
			left: 0;
			width: 100%;
		}
		
			.case > div > .logo > img {
				max-height: 8px;
				width: auto;
				margin: auto;
				display: block;
			}
	
		.case > div > .img {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			width: 100%;
			height: 100%;
			padding: 1px 1px 1px 0;
			border-radius: 0 4px 4px 0;
			position: relative;
		}
		

		
			.case > div > .img > span {
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				width: 100%;
				height: 100%;
				padding: 1px 1px 1px 0;
				border-radius: 0 4px 4px 0;
				
				display: block;
				position: relative;
			}
			
			.case > div > .img > span:before {
				position: absolute;
				top: 2px;
				left: 0;
				width: 0;
				height: 100%;
				content: "";

				z-index: 2;
			}
			
			.case > div > .img > span:after {
				position: absolute;
				top: 5px;
				left: 0;
				width: 0;
				height: 100%;
				content: "";

				z-index: 1;
			}
			
				.case > div > .img > span > img {
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 0 3px 3px 0;
				}

				
/* PS3 */
.case.ps3 > div {
	background: #0000009e;

}

	.case.ps3 > div > .logo {
		text-align: left;
		overflow: hidden;
	}
	
		.case.ps3 > div > .logo > img {
			float: left;
			margin-left: 10px;
		}
		
		.case.ps3 > div > .logo > img + img {
			float: right;
			margin-right: 7px;
			max-height: 3px;
			margin-top: 2px;
		}
		
/* XBOX 360 */
.case.xbox {
	height: 203px;
}

.case.xbox > div {
	background: #0000009e;
	padding: 3px 3px 3px 0;
	border-radius: 2px 5px 5px 2px;
}

/* misc */
.case.misc {
	height: auto;
    width: 130px;
}

.case.misc > div {
	border-radius: 0;
	padding: 1px 1px 1px 13px;
}

	.case.misc > div > .img {
		border-radius: 0;
		padding: 0;
	}
	
	.case.misc > div > .img:after,
	.case.misc > div > .img > span:before,
	.case.misc > div > .img > span:after {
		display: none;
	}
	
	.case.misc > div > .img:before {
		width: 12px;
		border-radius: 0;
		top: -1px;
		bottom: -1px;
		left: -14px;
	}
	
		
			.case.misc > div > .img > span > img {
				border-radius: 0;
			}