
/* 
#454a4d Text Border
#2f7571 Background
#81b071 Button background
#2a2a2b Text
#5a9470 Hover text 
*/

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    margin: 0 150px;
}

    .column img {
        max-width: auto;
        height: 250px;

    }