/* Saves page */

.selections {
  margin-top: auto;
  margin-bottom: 230px;
}

.btn {
  display: inline-block;
  line-height: 50px; /* Set line height to match button height */
  cursor: pointer;
  text-decoration: none;
  color: #fff3f3;
  position: relative; /* Add relative positioning */
}

.btn:hover {
  background-color: #fff3f3;
  color: #2c2c2a !important;
  text-shadow: none;
  top: -2px; /* Offset the button slightly up when hovering */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -30px;
  padding-bottom: -30px;
}

.btn:hover, .inv {
  background-color: #fff3f3;
  color: #2c2c2a !important;
  text-shadow: none;
  top: -2px; /* Offset the button slightly up when hovering */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -30px;
  padding-bottom: -30px;
}

.btn:visited{
  display: inline-block;
  height: 16px;
  line-height: 15px;
  background-color: #fff3f3;
  color: #fff3f3;
  text-shadow: none;
}

.btn:visited:hover{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 3px;
  background-color: #fff3f3;
  text-shadow: none;
}
