.logo-container {
    width: 1250px;
    height: 420px;
    margin: 30px auto; 
    background-color: #383838; 
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-row {
    display: flex;
    margin: 30px 0; /* Margin between rows */
}

.box {
    width: 350px;
    height: 350px;
    background-color: #555; /* Placeholder color, replace with your content */
    margin: 0 30px; /* Margin between boxes */
}

.double-box {
    width: 850px; /* Adjusted width for the double box */
}