body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

nav {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Index */
.box {
    width: 350px;
    height: 450px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}

.title {
    width: 300px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Register */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.success {
    color: green;
}

.error {
    color: red;
}

.category-buttons a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #777;
    color: white;
    text-decoration: none;
}

.post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.category-buttons {
    margin-bottom: 20px;
}

       /* Add custom CSS for post boxes */


    /* Add custom CSS for the "Read More" button */
    .read-more-button {
        background-color: #4CAF50; /* Green background */
        color: white; /* White text */
        padding: 10px 15px; /* Padding inside the button */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        text-align: center; /* Center text */
        text-decoration: none; /* No underline */
        display: inline-block; /* Display as an inline block */
        font-size: 16px; /* Font size */
        margin-top: 10px; /* Add some space at the top */
    }